
<% if notice %>
  <%= notice %>
<% end %>
<div class="back_color" style="height:1000px; padding-top:100px">
  <h2 class="text-center">Create a new job listing</h2>
  <p class="text-center">Fill in the form below to create a new listing</p>
  <div class="container">
  <%= render :partial => 'form' %>
  </div>

</div>
